body {
	background-color: rgb(231, 186, 186);


}

.header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	background-color: #9B9B9B;
	border: 2px solid black;
}

.header div {
	font-size: x-large;
	line-height: normal
}

.header__headline {
	grid-column: 1/6;
	background-color: #9BA5FF;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;






}

.about {
	background-color: #9B9B9B;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;




}

.about:hover {
	border: 1px solid black;
	background-color: blueviolet;
	border-radius: 15px;

}



.mesperia {
	background-color: #9B9B9B;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

}

.mesperia:hover {
	border: 1px solid black;
	background-color: blueviolet;
	border-radius: 15px;
}


.websites {
	background-color: #9B9B9B;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

}

.websites:hover {
	border: 1px solid black;
	background-color: blueviolet;
	border-radius: 15px;
}


.contact {
	background-color: #9B9B9B;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

}

.contact:hover {
	border: 1px solid black;
	background-color: blueviolet;
	border-radius: 15px;
}


.submit {
	grid-column: 4/5;
	background-color: #9B9B9B;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;


}

.submit:hover {
	border: 1px solid black;
	background-color: blueviolet;
	border-radius: 15px;
}



.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	width: 1424px;
	height: 1000px;
	gap: 30px;
}

.container nav {

	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;


}

.container nav:hover {
	background-color: blueviolet;
	transform: rotate(-2deg);
}




.img-cocacola {
	width: 333.5px;
	height: 176px;
	border-radius: 10px;
	grid-column: 1/2;

}



.img-google {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
	grid-column: 2/3;
}

.img-soprasteria {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
	grid-column: 3/4;
}

.img-apple {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
	grid-column: 4/5;
}

.img-kahoot {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-equinor {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;


}

.img-microsoft {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;

}

.img-bouvet {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;

}

.img-geodata {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-capgemini {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-webstep {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-experis {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-cognite {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-yara {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-crayon {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-cisco {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-ibm {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-oracle {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.img-salesforce {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.sap-website {
	width: 333.5px;
	height: 176px;
	position: relative;
	border-radius: 10px;
}

.footer {
	background-color: #9B9B9B;

}

.footer div {
	font-size: larger;
	display: flex;
	justify-content: center;
	align-content: center;

}

.footer section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.footer__button {
	grid-column: 3/4;
	grid-row: 3/4;
}

.footer__button {
	display: flex;
	justify-content: center;
	align-content: center;
}



. @media screen and (max-width:1024px) {
	.container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);

	}
}